@media screen and (max-width: 480px) {
  //About Page
  .About{
    width: 100%;
    &-me {
      flex-direction: column;
     .TitleAndList {
       padding-left: 0;
     }
    }
    &_MyProject {
      padding: 20px;
    }
  }
  //Header Features
  .Header {
    padding-left: 55px;
  }
//  MainPage
  .PostWrapper {
    padding-left: 0;
  }
  .PostCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,min-content);
    button {
      grid-column: 2;
      grid-row: 1;
    }
    &_description {
      flex-direction: column;
      grid-column: span 2;
      gap: 15px;
    }
  }
}