.TitleAndList{
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  &_list {
    display: flex;
    font-size: 16px;
    padding-left: 35px;
    flex-direction: column;
    gap: 7px;
  }
}